/*GENERAL*/
body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
      overflow-x: hidden;
  }

p {
	font-size: 18px;
}

.bg-grey{
	background-color: #f6f6f6;
}

.container-fluid{
	padding: 60px 50px;
}

.logo{
	font-size: 200px;
	color: #2D728F;
}
@media screen and (max-width: 768px){
	.col-sm-4{
		text-align: center;
		margin: 25px 0;
	}
}

.logo-small{
	color: #2D728F;
	font-size: 50px;
}

h1, h3, h5, h6{
	color: #2D728F;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #2D728F;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #2D728F;
    font-weight: 400;
    margin-bottom: 30px;
}

.link{
	color: #303030;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

.myBox{
	width:300px;
	margin: 0 auto;
	padding: 10px 0;
	border: 1px #2D728F solid;
	background-color: white;
	color: #2D728F;
	position: relative;
	text-align: center;
	transform: rotateX(-90deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
}

.myBoxB{
	width:300px;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: center top;
	transform: rotateX(-90deg);
}
.myBoxB span{
	text-align: center;
	display: block;
	padding: 10px 0;
	background-color: #2D728F;
	color:white;
	transform: rotateX(180deg);
}

.perspective{
	perspective: 600px;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 50px;
}

/*ENTETE*/
.jumbotron{
	font-family: Montserrat, sans-serif;
	background-color: #2D728F;
	color: white;
	padding: 100px 25px;
}

.navbar {
	font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2D728F;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2D728F !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*RESUME*/
.photo{
	width:300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#cv{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

#textresume p {
	margin-top: 15px;
}

/*GS STORY*/
#video{
	left: 10%;
}

#h4gss{
	margin-top: 50px;
}

#gulfstream p {
	margin-top: 15px;
}

figure {
    display: inline-block;
    border: 1px dotted gray;
    margin: 20px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    background-color: #2D728F;
    color: white;
    text-align: center;
}

/*COMPETENCES*/
#skills{
	height: 6000px;
}

#skills p {
	margin-top: 15px;
}

#laptop{
	position: fixed;
	margin-top: 300px;
	top: 50%;
	left: 2%;
	z-index: 999;
}

#laptopimg{
	width: 700px;
	position: relative;
	z-index: 999;
}

#qgis{
	position: fixed;
	margin-top: 300px;
	top: 50%;
	left: 2%;
	z-index: 50;
}

#qgisimg{
	width: 520px;
	left: 90px;
	top: 15px;
	position: relative;
	z-index: 50;
}

#bdd{
	position: fixed;
	margin-top: 300px;
	top: 50%;
	left: 2%;
	z-index: 40;
}

#bddimg{
	width: 520px;
	left: 90px;
	top: 15px;
	position: relative;
	z-index: 40;
}

#pao{
	position: fixed;
	margin-top: 300px;
	top: 50%;
	left: 2%;
	z-index: 30;
}

#paoimg{
	width: 520px;
	left: 90px;
	top: 15px;
	position: relative;
	z-index: 30;
}

#code{
	position: fixed;
	margin-top: 300px;
	top: 50%;
	left: 2%;
	z-index: 20;
}

#codeimg{
	width: 520px;
	left: 90px;
	top: 15px;
	position: relative;
	z-index: 20;
}

.skillstext{
	position: absolute;
	left: 800px;
	width: 800px;
	bottom: -100px;
}

#skillsqgis{
	position: absolute;
	left: 800px;
	width: 800px;
	bottom: -100px;
}

.skillstitle{
	text-align: center;
	white-space: nowrap;
  	overflow: hidden;
}

.skillsdetail{
	white-space: nowrap;
  	overflow: hidden;
}

/*EXPERIENCE PRO*/
#xppro{
	height: 2000px;
}

#fente1{
	position: relative;
	height: 500px;
	left: 1000px;
	z-index: 80;
}

#etiquette1{
	position: relative;
	height: 300px;
	left: 800px;
	bottom: 400px;
	z-index: 70;

}

#fente2{
	position: relative;
	height: 500px;
	left: -400px;
	bottom: 500px;
	z-index: 100;
}

#etiquette2{
	position: relative;
	height: 300px;
	right: 1000px;
	bottom: 898px;
	z-index: 90;

}

#fente3{
	position: relative;
	height: 500px;
	left: 1000px;
	z-index: 80;
}

#etiquette3{
	position: relative;
	height: 300px;
	left: 800px;
	bottom: -200px;
	z-index: 70;

}

/*.panel {
    border: 1px solid #2D728F;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #2D728F;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #2D728F !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #2D728F;
    color: #fff;
}*/

/*FORMATION*/
#formation{
	height: 2800px;
}

#pen{
	height: 646px;
	position: fixed;
	margin-top: 300px;
/*	top: 50%;*/
	left: 25%;
}

.item {
	position: absolute;}

#pen1img{
	position: relative;
	width: 70px;
	bottom: 60px;
	z-index: 50;
}
#pen2img{
	position: relative;
	width: 65px;
	bottom: -200px;
	left: 2px;
	z-index: 40;
}
#pen3img{
	position: relative;
	width: 55px;
	bottom: -510px;
	left: 7px;
	z-index: 30;
}
#pen4img{
	position: relative;
	width: 45px;
	bottom: -580px;
	left: 11px;
	z-index: 20;
}

.pentext{
	position: absolute;
	left: 200px;
	width: 800px;
/*  	white-space: nowrap;
  	overflow: hidden;*/
}

#pentext1{
	bottom: 100px;
}

#pentext2{
	bottom: -130px;
}

#pentext3{
	bottom: -550px;
}

#pentext4{
	bottom: -580px;
}

/*INFORMATIONS GENERALES*/
.icone{
	width: 80px;
}

.personneltitle{
	color: #818181;
}


/*PIED DE PAGE*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #2D728F;
}


/*CARROUSSEL*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2D728F;
}

.carousel-indicators li {
    border-color: #2D728F;
}

.carousel-indicators li.active {
    background-color: #2D728F;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}	